<!DOCTYPE html>
<html>
    <head>
        <title>CSD Portal</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1"  />

        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}' />

        <!-- Custom styles for this template -->
        <link th:href="@{/csdportal/css/csdportal.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div th:text="provider.topName.forename"></div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    </body>
</html>
