<!DOCTYPE html>
<html>
    <head>
        <title>CSD Portal</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1"  />

        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}' />

        <!-- Custom styles for this template -->
        <link th:href="@{/csdportal/css/csdportal.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <br/>
        <br/>
        <div class="container">
            <span><h2><img th:src="@{/csdportal/img/provider.png}"/> Details for <span th:text="${provider.topName.forename}"></span></h2></span>
        </div>
       
        <br/>
        
        <div class="container">

            <div class="row">
                <div  class="col-lg-8">
                    <table style="width: 800px" class="table-striped table-condensed">
                        <thead>
                        <th>Title</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        </thead>
                        <tbody>
                            <tr th:each="name : ${provider.demographic.names}">
                                <td th:text="${name.honorific}"></td>
                                <td th:text="${name.forename}"></td>
                                <td th:text="${name.surname}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div  class="alert alert-info">
                        Advertising space available here, please contact <a th:href="@{http://www.hitrac.co.zw}">HITRAC </a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div  class="col-lg-8">
                    <h3 style=" background-color:  #46b8da">Address Details</h3>
                    <table style="width: 800px" class="table-striped table-condensed">
                        <thead>
                        <th > <img src="@{/csdportal/img/facility.png}"
                                   th:src="@{/csdportal/img/facility.png}"/>  Address Details</th>
                        </thead>
                        <tbody>
                            <tr th:each="address : ${provider.demographic.addresses}">
                                <td>
                                    <div    th:each="addressLine : ${address.addressLines}">
                                        <div th:text="${addressLine.line}"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-8">
                    <h2 style=" background-color:  #46b8da">Qualifications</h2>
                    <table style="width: 800px" class="table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Name</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr th:each="codedType :${provider.codedTypes}">
                                <td th:text="${codedType.codingScheme}"></td>
                                <td th:text="${codedType.value}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-8">
                    <h3 style=" background-color:  #46b8da">Credentials</h3>
                    <table style="width: 800px" class="table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Issue Date</th>
                                <th>Renewal Date</th>
                                <th>Issuing Authority</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="credential :${provider.credentials}">                               
                                <td th:text="${credential.number}"></td>
                                <td th:text="${credential.codedType.value}"></td>
                                <td th:text="${#dates.format(credential.credentialIssueDate,'dd/MMM/yyyy')}"></td>
                                <td th:text="${#dates.format(credential.credentialRenewalDate,'dd/MMM/yyyy')}"></td>
                                <td th:text="${credential.issuingAuthority}"></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
           
          
            <!--            <div class="row">
                            <div class="col-lg-8">
                                <h2>Facilities</h2>
                                <table>
                                    <tr th:each="provideFacility : ${provider.providerFacilities.providerFacilities}">
                                        <td th:text="${provideFacility.primaryName}"></td>
                                    </tr>   
                                </table>
                            </div>
                        </div>-->
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    </body>
</html>
