<!DOCTYPE html>
<html>
    <head>
        <title>CSD Portal</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1"  />

        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}' />

        <!-- Custom styles for this template -->
        <link th:href="@{csdportal/css/csdportal.css}" rel="stylesheet" />

    </head>
    <body>

        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">CSD Public Portal for Zimbabwe</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">Home</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->



        <div class="container">
            <h3>Welcome to the Public Portal</h3>
            <br/>
            <div>
                You can use the portal to find doctors, hospitals, clinics, and other health care providers and services such as urgent care centers, vision, and medical supply providers. If you know the name, type it in the search box. You can also search by the kind of care you need, such as ear nose and throat, skin, maternity, and urgent care.
            </div>
            <br/>
            <table>
                <tr>
                    <td><a th:href="@{/}">Provider Search</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/}" >Health Facility Search</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/}" >Service Search</a></td>
                </tr>
            </table>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    </body>
</html>
