<!DOCTYPE html>
<html>
    <head>
        <title>Search Results</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>
            <form th:action="@{/search/result}">
                <input type="text" id="q" name="q" th:value="${q}"  placeholder="Search Providers, Facilities and Services" />
                <input type="submit" value="Search" />
            </form>
        </div>
       
        

             <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="wrappedEntity : ${wrappedEntities}">                               
                            <td th:text="${wrappedEntity.name}"></td>
                            <td th:text="${wrappedEntity.type}"></td>
                        </tr>                         
                    </tbody>
                </table>
             </div>
        
        
    </body>
</html>
